.nave {
    display: flex;
    align-items: center;
    

}
.header__conteiner{
    @media screen and (max-width: (768px-0.02)){
        padding-top: 16px;
        padding-bottom: 16px;
    }
        
    }

.header__nave {
    
    
    @media screen and (max-width: (768px-0.02) ){
    display: none;
    &.is-open{
        display: flex;
        z-index: 1;
    }
        padding: 48px 40px;
        flex-direction: column;
        min-height: 100vh;
        height: min-content;
       

        position: absolute;
        top: 0;
        left: 0;
        
        width: 480px;
        
                background-color: $prinary-bgr-color;
    }
    
    

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    
}


.menu-button{
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
background-color: transparent;
border: none;
padding: 0;
display: inline-flex;
fill: $prinary-text-color;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover{
    fill: $accent-color;
}

@media screen and (min-width: 768px){
    display: none;
}
}

.menu-button__menu{
    display: block;

}
.menu-button.is-open .menu-button__menu{
    display: none;
}

.menu-button__close{
display: none;

}
.menu-button.is-open .menu-button__close{
    display: block;
}




.nave-site {
    
   

    @media screen and (min-width: 768px){
        display: flex;
        gap: 50px;
        margin-left: 87px;
    }

         @media screen and (min-width:1200px) {
             display: flex;
             gap: 50px;
             margin-left: 92px;
         }

    
}

.nave-site__item {
    position: relative;

    @media screen and (max-width: (768px-0.02)){
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
    
    
}

.nave-site__link {
font-weight: 500;
font-size: 40px;
    letter-spacing: 0.02em;
    line-height: 1.76;
transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (min-width: 768px){
        font-size: 14px;
        line-height: 1.17;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        line-height: 1.14;
    }

       

  }

.current {
    color: $accent-color;
@media screen and (min-width: 768px) {
&::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
    

}

.contacts-header {
    
display: flex;
flex-direction: column-reverse;
@media screen and (max-width: (1200px-0.02)){
    margin-top: auto;
}


    @media screen and (min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        
    }

    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
        margin-left: 300px;
       
    }
}



.contacts-header__item{
    margin-left: 96px;
    color: $description-text-color;
    @media screen and (max-width: (768px-0.02)) {
            font-size: 34px;
            line-height: 1.18;
            margin-left: 0;
            margin-bottom: 32px;
            color: $accent-color;
    
            &:first-of-type {
                font-size: 24px;
                line-height: 1.17;
                margin-bottom: 64px;
                color: $description-text-color;
            }
    
        }
   

    @media screen and (min-width: 768px) and
    (max-width: (1200px-0.02)) {
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0px auto;
        }
       
    }

    @media screen and (min-width:1200px) {
        margin-left: 50px;

        &:first-child {
            margin-left: 0;
        }
}

}



.contacts-header__contact {
   
    display: flex;
    align-items: center;
    color: currentColor;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

@media screen and (min-width: 768px){
    font-size: 12px;
    line-height: 1.17;
}
      
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
        

    }


}

.contacts-header__icon {

    @media screen and (max-width: (768px-0.02)){
        display: none;
    }
    display: block;
    fill: currentcolor;
    margin-right: 10px;

    &--letter{
@media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;
    }
}
&--telephone{
    @media screen and (min-width: 1200px) {
            width: 10px;
            height: 16px;
        }
}

}


    
    


.header-network{
    display: flex;


    @media screen and (min-width: 768px) {
            display: none;
        }
   
}
.header-network__item{
    font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: #2196F3;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:last-child{
        border-right: none;
        padding-right: 0;
    }
    &:first-child{
        padding-left: 0;
    }
}


