.section-hero {
        max-width: 1600px;
        
            background-color: $hero-bgr-color;
            text-align: center;
            padding-top: 118px;
            padding-bottom: 118px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-modile-1x.jpg);
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/Header-modile-2x.jpg);
            }
        
            @media screen and (min-width:768px) {
                background-image: url(../images/Header-tablet-1x.jpg);
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/Header-tablet-2x.jpg);
        
                }

                 @media screen and (min-width:1200px) {
                background-image: url(../images/Header-desktop-1x.jpg);
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/Header-desktop-2x.jpg);
        
                }
        
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-left: auto;
                margin-right: auto;
        
                @media screen and (min-width: 1200px) {
                    padding-top: 200px;
                    padding-bottom: 200px;
                }
}}








 .section-hero__title {
     margin-top: 0;
     margin-bottom: 30px;
     max-width: 360px;
     
     margin-left: auto;
     margin-right: auto;

     color: $white-text-color;
     font-weight: 900;

     font-size: 26px;
     line-height: 42px;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;

@media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
    }
}}