$prinary-text-color: #212121;
$description-text-color: #757575;
$white-text-color: #FFFFFF;
$accent-color: #2196F3;
$address-color: rgba(255, 255, 255, 0.6);
$logo-main: #2196f3;
$logo-header: #000000;
$logo-footer: #ffffff;
$button-color: #2196F3;
$button-accent-color: #188CE8;
$frame-color: #EEEEEE;
$hero-bgr-color: #2F303A;
$secondary-bgr-color: #F5F4FA;
$prinary-bgr-color: #FFFFFF;
$footer-bgr-color: #2F303A;
$border-color: #AFB1B8;
$color-client-icon: #AFB1B8;
$backdrop-color: rgba(0, 0, 0, 0.2);
$bgr-light-color: #ffffff;
$form-name-text:#757575;